<br><h1 align="center">Articles</h1>
<hr>

<%= will_paginate renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

<%= render 'article', obj: @articles %>

<%= will_paginate renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
