<footer id="footer">
	<div class="container">
		<p class="footer-block">&copy; 2020 Some Nonexistant Company

            &nbsp;&nbsp;&nbsp;&nbsp;

      Design by <a href="">Alexander Beers</a> </p>
	</div>
</footer>